  <div id="debug">
    <a href="#" id="enter-uploader" class="button">
      <span>UM enter</span>
    </a>

    <a href="#" id="exit-uploader" class="button">
      <span>UM exit</span>
    </a>

    <a href="#" id="sort-library-tags" class="button">
      <span>Sort Ltags</span>
    </a>

    <a href="#" id="make-notification" class="button">
      <span>Notify gen</span>
    </a>

    <a href="#" id="make-dialog" class="button">
      <span>Dialog gen</span>
    </a>

    <a href="#" id="audio-mpeg-gen" class="button">
      <span>AE test</span>
    </a>

    <a href="#" id="audio-destroy" class="button">
      <span>Destroy AEs</span>
    </a>

    <a href="#" id="log-lgtc" class="button">
      <span>LGTC log</span>
    </a>

    <a href="#" id="log-lstc" class="button">
      <span>LSTC log</span>
    </a>
  </div>
