
      <footer>
        <div class="wrapper">
          <aside id="version">
            <p>This is <strong>Revolver v<?= $messages['revolver_version_number'] ?> <?= $messages['revolver_version_name'] ?></strong>.</p>
            <p>&copy; <?= date('Y') ?> <a href="http://www.papermodelplane.com/" target="_blank"><?= $messages['revolver_meta_author'] ?></a> &nbsp; // &nbsp; <a href="javascript:void(0);" onclick="javascript:document.body.scrollTop=document.documentElement.scrollTop=0;document.getElementById('debug').style.display='block';">Debug</a></p>
          </aside>
        </div>
      </footer>
